/**********************General Styling*****************************/
body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}

.button {
  border-radius: 25px;
  padding: 15px 25px;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  color: white;
  font-weight: 700;
  outline: none;
}

.button:hover, .item:hover, .service:hover {
  box-shadow: 5px 5px 10px hsl(233, 8%, 62%);
}

li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px;
}

li:hover {
  box-shadow: 5px 5px 10px hsl(233, 8%, 62%);
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*****************Styling for the main navigation Bar******************/
.topNavBar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  z-index: 2;
  font-weight: 300;
}

.hamburgerImg{
  display: none;
}

.nav2,
.newNav2{
display: none;
}

/*********************Styling for nextGenDiv container *********************/
.nextGenDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

.midDiv1 {
  word-wrap: break-word;
  padding: 0 8%;
  flex: 200px;
}

.nextGenHeader {
  font-size: 2.5rem;
  font-weight: 700;
}

.midDiv2 {
  position: relative;
  flex: 400px;
  height: 400px;
  background: url(images/bg-intro-desktop.svg) no-repeat;
  background-size: 140% 170%;
  background-position: 0px -170px;
}

.midDiv3 {
  width: 70%;
  height: 160%;
  background: url(images/image-mockups.png) no-repeat;
  background-size: 120% 100%;
  position: absolute;
  top: -90px;
  right: 0px;
  z-index: 1;
}

/*******************Styling for easyBank container*******************/
.easyBankDiv {
  background-color: hsl(220, 16%, 96%);
  padding: 5% 8% 0 8%;
}

.easyBankQuestion {
  font-size: 2.5rem;
  font-weight: 400;
}

.easyBankAnswer {
  padding: 0 0 20px 0;
}

.serviceList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service1, .service2,
.service3, .service4 {
  flex: 250px;
  margin: 5px 2px;
}

.secondDescription {
  padding: 0 50px;
}

/*****************************Styling for latestArticleDiv*****************************************/
.latestArticleDiv {
  padding: 5% 8% 100px 8%;
}

.latestArticlesHeader {
  font-size: 2.5rem;
  font-weight: 400;
}

.articleItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articleImg {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.articleImgContainer{
  width: 100%;
  height: 50%;
}

.item1, .item2, .item3, .item4 {
  flex: 250px;
  margin: 5px 5px;
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 12px;
}


.articleText {
  word-wrap: break-word;
  padding: 10px 15px;
}

/*******************footer Styling*****************************/
.bottomNavBar1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: hsl(233, 26%, 24%);
  color: white;
  margin-top: 50px;
  padding: 10px 0 10px;
}

.logoAndAboutUs {
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.logoAndMediaIcons{
  height: 80px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconClass {
  display: flex;
  justify-content: space-around;
}

.contactList1,
.contactList2{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: inherit;
  align-items: center;
}

.contactList1 li,
.contactList2 li{
  width: 50%;
}

.requestInviteDiv {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: flex-end;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
